<style>
  :host {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 28px;
    gap: 30px;
  }
</style>

<figure class="flex justify-center">
  <img
    class="max-w-[60px] h-auto"
    src="../../../assets/images/icon-complete.svg"
    alt=""
  />
</figure>

<div class="text-center">
  <h2 class="uppercase text-xl font-semibold tracking-wider">thank you!</h2>
  <p class="text-dark-grayish-violet">We've added your card details</p>
</div>

<button
  class="rounded-lg p-2 font-bold w-full bg-very-dark-violet text-slate-50"
  type="submit"
>
  Continue
</button>
